<h1 style="color:blue;text-align: center">Welcome to Vishy's Math Test</h1>
<h2 style="color:darkorange;text-align: center">
  Vishy!! You should do all these maths and you should prove you are the best in Maths!!
  All the very best honey!
<p>
  <br>
  Now, lets do:
  <%= link_to('Addition',
              'mathadd') %>
</p>
  <br>
<br>
  <h4 style="font-style: italic; text-align: center">
  With love, From dad and mom!!
  </h4>
</h2>
